node_modules/sqlite-plugin-red/examples/sqlite.json
[
    {
        "id": "d1b37d24449aad51",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "23a0f6d612b47646",
        "type": "sqlitedb",
        "db": "/workspace/sqlite-plugin-red/examples/test.db",
        "mode": "RW"
    },
    {
        "id": "9382662dc8e9689d",
        "type": "sqlite",
        "z": "d1b37d24449aad51",
        "mydb": "23a0f6d612b47646",
        "sqlquery": "fixed",
        "sql": "INSERT INTO table1 (c1, c2, c3)\nVALUES( 'hello', 'world', '!');",
        "name": "put into table1",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "b3ead53ae47895c9"
            ]
        ]
    },
    {
        "id": "3cd906d1c3c25694",
        "type": "inject",
        "z": "d1b37d24449aad51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "9382662dc8e9689d"
            ]
        ]
    },
    {
        "id": "b3ead53ae47895c9",
        "type": "debug",
        "z": "d1b37d24449aad51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "ce5b66198bd13a5b",
        "type": "sqlite",
        "z": "d1b37d24449aad51",
        "mydb": "23a0f6d612b47646",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM table1",
        "name": "select from table1",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "932f313d4913d89f"
            ]
        ]
    },
    {
        "id": "e504d18be49d2af3",
        "type": "inject",
        "z": "d1b37d24449aad51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "ce5b66198bd13a5b"
            ]
        ]
    },
    {
        "id": "932f313d4913d89f",
        "type": "debug",
        "z": "d1b37d24449aad51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 180,
        "wires": []
    }
]